<!-- app/views/products/edit.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Edit Product</title>
</head>
<body>

<h2>Edit Product</h2>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path, class: 'btn btn-secondary' %>

</body>
</html>
